<main>
    <form action="/enviado" method="post">
        <label for="motivo">MOTIVO DEL CONTACTO</label>
        <input type="text" name="motivo">
        <label for="cuerpoMensaje">ESCRIBE ALGO</label>
        <textarea name="cuerpoMensaje" id="cuerpoMensaje" cols="30" rows="10"></textarea>
        <label for="correoUsuario">ESCRIBE TU CORREO</label>
        <input type="email" name="correoUsuario" id="correoUsuario">

        <input type="submit">
    </form>
</main>